################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
/.vs/CppNuts/v17/ipch/AutoPCH
/.vs/CppNuts/v17
